*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
#banner{   background-color: #8CB9BD;
  width: 100vw;
  height: 40rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10rem;
  gap: 2rem;
  margin-top: 6rem;
}
#bannertext h1{
  font-size: 5.5rem;
  color: #fff;
  font-weight: 700;

}
#bannertext {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-left: 10rem;
}

  #bannertext p {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
  
}


#bannerimg{
    width: 100vw;
    height: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
     gap: 2rem;
}

#banner img:first-child{
  margin-top: -4rem;
  animation: topdown 1200ms;

  }

  #banner img:nth-child(2){

    animation: downtop 1200ms;

    }
  #banner img:last-child{
    margin-top: 4rem;
    animation: topdown 1200ms;

    }
 #banner img{
  border-radius: 1.6rem;
  width: 20rem;

  height: 30rem;
  }

  @keyframes topdown {
    0% {
      opacity: 0;
      transform: translateY(-75px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(75px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }



