
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: transparent;
    gap: 4rem;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   
}
.form-container h3 {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Playwrite US Modern", cursive;
    
  }
  
.conteudo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.conteudo-container{
    display: flex;
}

.form-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.form-container h3 {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.form-container div {
    margin-bottom: 1em;
}

.form-container label {
    display: block;
    margin-bottom: 0.5em;
    color: #555;
}

.form-container textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s;
    font-family: "Lato", sans-serif;
}

.form-container input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s;
}
.form-container button {
    width: 100%;
    padding: 0.75em;
    background-color:#8CB9BD;
    border: 1px solid #B67352;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #B67352;
}


.btn-contato{
    background-color: #ECB159;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    
}
.btn-contato:hover{
background-color: #B67352 ; 
    
}

/* RESPONSIVIDADE */
@media (max-width: 320px) {
    #bannerimg {
        display: none;
    }
    .conteudo-container{
        display: flex;
       flex-direction: column;
        width: 100%;
    }
    .conteudo-text{
        width: 100%;
    }
}

 
@media (min-width: 321px) and (max-width: 375px) {
    #bannerimg {
        display: none;
    }
    .conteudo-container{
        display: flex;
       flex-direction: column;
        width: 100%;
    }
    
    .conteudo-text{
        width: 100%;
    }
}
  
 
@media (min-width: 376px) and (max-width: 425px) {
    #bannerimg {
        display: none;
    }
    .conteudo-container{
        display: flex;
       flex-direction: column;
        width: 100%;
    }
    .conteudo-text{
        width: 100%;
    }
    .form-container input {
        font-size: 12px;
    }
}
  
 
@media (min-width: 426px) and (max-width: 768px) {
    #bannerimg {
        display: none;
    }
    .conteudo-container{
        display: flex;
       flex-direction: column;
        width: 100%;
    }
    .conteudo-text{
        width: 100%;
    }
}
  
