* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    border: 0;
}

footer{
    background-color: #8CB9BD;
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.footer-logo img {
    height: 80px;
    width: 80px;
}

footer a {
    text-decoration: none;
    color: black;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

footer .contato img {
    height: 25px;
}

footer .contato article {
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 8px;
    text-align: center;
}

footer .redes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .redes img {
    height: 40px;
}