  /* MENU MOBILE */
  @media (min-width: 769px) {
    #menu-mobile {
        display: none;
    }

  }
@media (max-width: 768px) {
    .nav-bar {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
    }
    
    #menu-mobile:not(:checked) ~ .nav-bar {
        display: none;
    }
    
    #menu-mobile:checked ~ .nav-bar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #ECB159;
        padding: 1rem;
        border: solid 2px #B67352;
        width: 180px;
        margin-left: -40%;
        text-align: center;
    
    }
    
    .icone-menu {
        display: inline-block;
        cursor: pointer;
    }
    
    .icone-menu span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
    }
    
    #menu-mobile {
        display: none;
    }
    
    #menu-mobile:checked + .icone-menu span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    #menu-mobile:checked + .icone-menu span:nth-child(2) {
        opacity: 0;
    }
    
    #menu-mobile:checked + .icone-menu span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    
}
