@media (max-width: 480px) {
    #bannerimg {
        display: none;
    }

    #banner {
        background-color: #8CB9BD;
        box-shadow: 0px 0px 0px 0px;
        padding: 0;
    }

    #bannertext {
        border-radius: 0;
    }

    header{
        width: 100%;
        justify-content: center;
        gap:5px;
    }

    .logo img{
        height: 70px;
        width: 70px;
    }

    .logo {
        margin: 1rem;
    }

    .logo p{
        font-size: 1.2rem;
    }

    .nav-bar{
        gap: 1.5rem;
    }

    .nav-bar a{
        font-size: 1.3rem;
    }

    .bem-vindo p, h2{
        text-align: center;
    }

    .bem-vindo h2{
        font-size: 2.8rem;
        padding-bottom: 2rem;
    }

    .servico-card {
        height: 35rem;
    }

    .casoEmergencia h2 {
        font-size:2rem;
    }

    .casoEmergencia p {
        font-size:2rem;
    }

    .galeria img {
        width: 100%;
        height: auto;
    }

}