*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hospedagem-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.item-img-hosp{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    img{
        width: 70%;
        height: 400px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
    }
}

.item-texto-hospedar{
    width: 50%;
    margin-top: 80px;
    text-align: center;
    h1{
        color: #B67352;
    }
}

.petsitter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 40px;
}
.item-img-petsitter{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    img{
        width: 70%;
        height: 400px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
    }
}
.item-texto-petsitter{
    display: flex;
    width: 400px;
    padding: 50px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-items: center;
    justify-content: center;
    h1{
        color: #B67352;
    }
}
.btn-servicos{
    background-color: #ECB159;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    
}
.btn-servicos:hover{
background-color: #B67352 ; 
    
}

.servicos-inf{
    width: 100%;
    margin-top: 2.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.servicos-inf-item{
    display: flex;
    border: 1px solid #ECB159;
    padding: 20px;
    margin: 20px;

    gap: 10px;
}
.inf-item{
    border: 1px solid #ECB159 ;
    background-color: rgba(0, 0, 0, 0.055);
}
.inf-item:hover{
    background-color: rgba(17, 17, 17, 0.171);
}


/* RESPONSIVIDADE */
@media (max-width: 320px) {
    .item-texto-hospedar{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 2em;
        }
    }
    .petsitter-container{
        display: flex;
        flex-direction: column;
    }
    .item-texto-petsitter{
        h1{
            font-size: 1.5em;
        }
    }
    .servicos-inf{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 1.5em;
        }
        
    }
    .servicos-inf-item{
        display: flex;
        flex-wrap: wrap;
    }
}

 
@media (min-width: 321px) and (max-width: 375px) {
    .item-texto-hospedar{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 2em;
        }
    }
    .petsitter-container{
        display: flex;
        flex-direction: column;
    }
    .item-texto-petsitter{
        h1{
            font-size: 1.5em;
        }
    }
    .servicos-inf{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 1.5em;
        }
        
    }
    .servicos-inf-item{
        display: flex;
        flex-wrap: wrap;
    }
}
  
 
@media (min-width: 376px) and (max-width: 425px) {
    .item-texto-hospedar{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 2em;
        }
    }
    .petsitter-container{
        display: flex;
        flex-direction: column;
    }
    .item-texto-petsitter{
        h1{
            font-size: 1.5em;
        }
    }
    .servicos-inf{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 1.5em;
        }
        
    }
    .servicos-inf-item{
        display: flex;
        flex-wrap: wrap;
    }
}
  
 
@media (min-width: 426px) and (max-width: 768px) {
    .item-texto-hospedar{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 2em;
        }
    }
    .petsitter-container{
        display: flex;
        flex-direction: column;
    }
    .item-texto-petsitter{
        h1{
            font-size: 1.5em;
        }
    }
    .servicos-inf{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 1.5em;
        }
        
    }
    .servicos-inf-item{
        display: flex;
        flex-wrap: wrap;
    }
}
  
 
@media (min-width: 769px) {
   

}
