.sobrenos{
  background-color: #dbe7e8;
  display: flex;
  border: 5px solid #8CB9BD;
}

.sobrenos p{
  font-size: 2rem;
  font-weight: 400;
  color: #040505;

}

.sobrenos img {
  width: 90%;
  height: 100%;
  border-radius: 1.6rem;
}

.sobrenos-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem;

}

.sobrenos-txt ul {
  padding: 0;
  margin-top: 2rem;
  margin-left: 3rem;
  list-style-type: none; 
}

.sobrenos-txt li {
  font-size: 2.5rem;
  font-weight: 400;
  color: #213c3f;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 2rem;
}

.sobrenos-txt li::before {
  content: '○'; 
  color: #B67352; 
  position: absolute;
  left: 0;
  font-size: 2rem;
  line-height: 1.8rem;
}

.nossamissao-txt span {
  font-weight: 700;
  color: #ffffff;
  background-color: #B67352;
  padding: 1rem;
  border-radius: 1.6rem;
  text-align: center;
  display: block;
  margin-top: 1rem;
  border: 1px solid #8CB9BD;
  width: 50rem;
}

.sobrenos h3{
  color: #45494e;
  font-size: 2rem;
  font-weight: 700;
}

.nossamissao-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}

.span-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}

@media (max-width: 768px) {

  .sobrenos {
    flex-direction: column;

  }

  .sobrenos img {
    width: 100%;
    height: 50%;
  }
  main section.sobrenos:last-child {
    flex-direction: column-reverse;
  }
  .sobrenos-txt {
    padding: 1rem;
  }

  .sobrenos-txt ul {
    margin-left: 0;
  }

  .sobrenos-txt li {
    font-size: 1.6rem;
  }

  .sobrenos-txt li::before {
    font-size: 1.8rem;
  }

  .nossamissao-txt span {
    width: 100%;
  }

  .span-box {
    padding: 1rem;
    gap: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
  }
  
}
